<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            height: 100vh;
            width: 100%;
            background-color: #272833;
        }
        
        .container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .box {
            height: 300px;
            width: 350px;
            border: 1px solid white;
            border-radius: 20px;
            background-color: #191C39;
        }
        
        .box .header {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid white;
            border-radius: 10px;
        }
        
        .box .header h2 {
            padding: 6px;
            color: white;
        }
        
        .box .body {
            height: 80%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
        }
        
        .box .body input {
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            margin: 2px;
        }
        
        .box .body button {
            height: 50px;
            width: 100%;
            background: #FF9F00;
            border: 1px solid black;
            border-radius: 12px;
            color: black;
            font-size: 20px;
            transition: 0.7s ease;
            courser: pointer;
        }
        
        .box .body button:hover {
            transform: scale(0.9);
        }
        
        .box .error {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-left: 5px;
            color: #FF0000;
        }
        
        .box .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            color: #47443D;
        }
        
    </style>
</head>
<body>
   
   <div class="container">
       <div class="box">
          <div class="header">
              <h2>Reset Password</h2>
          </div>
          <div class="body">
              <ul>
                <label for="password">Password:</label>
                <br>
                <input type="password" placeholder="Enter your new password" id="password">
                <br>
                <label for="re-password">Re-Password:</label>
                <br>
                <input type="password" placeholder="Repeat your password" id="re-password">
                <br>
                <button type="submit" id="reset-btn"><strong>Reset</strong></button>
                <p class="error"><span id="error"></span></p>
              </ul>
          </div>
          <div class="footer">
              <p>© Copyright 2023</p>
          </div>
       </div>
   </div>
    
    <script>
    
    const password = document.getElementById("password");
    const rePassword = document.getElementById("re-password");
    const resetBtn = document.getElementById("reset-btn");
    const error = document.getElementById("error");
    
    resetBtn.addEventListener("click", async (e) => {
        
        e.preventDefault();
        
        error.innerHTML = '';
        
        if (!password.value.trim().length) {
            error.innerHTML = "Error: Password is a required filed.";
            return;
        }
        
        if (!rePassword.value.trim().length) {
            error.innerHTML = "Error: re-password is a required filed.";
            return;
        }
        
        if (password.value != rePassword.value) {
            error.innerHTML = "Error: P1 doesn't match P2";
            return;
        }
        
        try {
            const res = await fetch('/api/auth/reset-password?token=<%=resetToken%>', {
                method: 'POST',
                body: JSON.stringify({ password: password.value }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            
            const data = await res.json();
            
            if (data.errors) {
                error.innerHTML = data.errors.password;
            } else if (!res.ok) {
                error.innerHTML = "Something went wrong.";
                return;
            } else {
                alert("Done!");
                window.location.href = '/';
              return;
            }
            
        }
        catch (err) {
            error.innerHTML = "Something went wrong.";
        }
        
    })
    
    </script>
    
</body>
</html>
