<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            
            background-color: #222;
            padding: 2em;
        }
        
        .container {
            max-width: 27em;
            margin-top: 40%;
            
            
        }
        
        .box {
        	display: flex;
        justify-content: center;
                 flex-direction: column;
            border-radius: 20px;
            background-color: #111;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
            padding-bottom: 2.8em;
        }
        
        .box .header {
            display: flex;
            justify-content: center;
            align-items: center;
            
             
            padding: 1.8em;
        }
        
        .box .header h2 {
            padding: 6px;
            color: white;
        }
        
        .box .body {
            
            gap: 1.4em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.6em;
            color: white;
            
        }
        
        .box .body input {
            
        }
        
        .box  button {
            background: #FF9F00;
            padding-inline: 3.6em;
            padding-block: .6em;
            text-transform: uppercase;
            border: 1px solid black;
            border-radius: 12px;
            color: black;
            font-size: 1em;
            transition: 0.7s ease;
            courser: pointer;
            margin: 0 auto;
            
        }
        
        .box  button:hover {
            transform: scale(1.1);
        }
        
        .box .error {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-left: 5px;
            color: #FF0000;
        }
        
        .box .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            color: #47443D;
            padding: 1.3em;
        }
        
       .flex {
       	display: flex;
      } 
      
     .justify-center {
     	justify-content: center;
    } 
    
    input {
    	display: block;
    width: 100%;
    padding-inline: 1.3em;
    padding-block: 0.8em;
    border-radius: 0.5em;
    background-color: #222;
    color: white;
   } 
   
   input:focus {
   	outline: none;
   
  } 
   
   label {
   	padding: 0.8em;
  } 
    </style>
</head>
<body>
   
   <div class="container">
       <div class="box">
          <div class="header">
              <h2>Reset Password</h2>
          </div>
          <div class="body">
          	<div>
                <label for="password">Password:</label>
                
                <input type="password" placeholder="Enter your new password" id="password">
                </div>
                
                <div>
                <label for="re-password">Re-Password:</label>
                
                <input type="password" placeholder="Repeat your password" id="re-password">
                	</div>
                
                
                <p class="error"><span id="error"></span></p>
          </div>
          <div class="flex justify-center">
          <button type="submit" id="reset-btn"><strong>Reset</strong></button>
          </div>
          <div class="footer">
              <p>© Copyright 2023</p>
          </div>
       </div>
   </div>
    
    <script>
    
    const password = document.getElementById("password");
    const rePassword = document.getElementById("re-password");
    const resetBtn = document.getElementById("reset-btn");
    const error = document.getElementById("error");
    
    resetBtn.addEventListener("click", async (e) => {
        
        e.preventDefault();
        
        error.innerHTML = '';
        
        if (!password.value.trim().length) {
            error.innerHTML = "Error: Password is a required filed.";
            return;
        }
        
        if (!rePassword.value.trim().length) {
            error.innerHTML = "Error: re-password is a required filed.";
            return;
        }
        
        if (password.value != rePassword.value) {
            error.innerHTML = "Error: P1 doesn't match P2";
            return;
        }
        
        try {
            const res = await fetch('/api/auth/reset-password?token=<%=resetToken%>', {
                method: 'POST',
                body: JSON.stringify({ password: password.value }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            
            const data = await res.json();
            
            if (data.reason) {
                error.innerHTML = data.reason;
            } else if (!res.ok) {
                error.innerHTML = "Something went wrong.";
                return;
            } else {
                alert("Done!");
                window.location.href = '/';
              return;
            }
            
        }
        catch (err) {
            error.innerHTML = "Something went wrong.";
        }
        
    })
    
    </script>
    
</body>
</html>